<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063588826590-7p38795lmo5mti3erfspovk7944cbk3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063588826590-7p38795lmo5mti3erfspovk7944cbk3q</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ1cOqFzRzH5Wbm3xVAvfaYOMYcANRpIA</string>
	<key>GCM_SENDER_ID</key>
	<string>1063588826590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AndriiLandiak.CourseWork</string>
	<key>PROJECT_ID</key>
	<string>coursework-d5ad7</string>
	<key>STORAGE_BUCKET</key>
	<string>coursework-d5ad7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063588826590:ios:86b314e90f307a32fd214f</string>
</dict>
</plist>